.weather {
	&__title {
		font-size: 2rem;
	}
	&__search {
		
	}
	&__form {
		width: 600px;
		background-color: white;
		border-radius: 2rem;
		height: max-content;
		min-height: 10rem;
		padding: 2rem;
	}
&__widget {
	
}
	&__location {
		
	}
	&__city {
		
	}
	&__date {
		
	}
	&__conditions{
		
	}
	&__temperature {
		
	}
	&__description {
		
	}
}
